html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* COLORS */
/* FONTS */
/* TRANSITION */
/* BORDER RADIUS */
body {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 2rem;
}

button {
  font-style: italic;
}

.tweet p {
  font-size: 1.5rem;
}

article p {
  font-weight: 700;
}

#signedUser {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 700;
}

body {
  background-image: url(../images/dawn-dusk.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

section {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.main-header {
  background: -webkit-gradient(linear, left bottom, right top, from(#f4874b), to(#f56a4e));
  background: linear-gradient(to right top, #f4874b, #f56a4e);
  width: 100vw;
  opacity: 0.75;
  position: fixed;
  padding: 0;
  margin-top: 0;
  padding-bottom: 20px;
}

.main-header div {
  width: 100%;
  max-width: 1280px;
}

.logo {
  width: 80px;
  height: 80px;
  display: inline-block;
  -webkit-filter: invert(0.2) sepia(1) hue-rotate(-130deg) saturate(2.5);
          filter: invert(0.2) sepia(1) hue-rotate(-130deg) saturate(2.5);
}

h1 {
  color: #5c3a72;
  margin: 1rem 0;
}

.navbar-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-button {
  border: none;
  color: #5c3a72;
  background-color: #f5f5f5;
  font-size: 1.2rem;
  padding: 15px 15px;
  display: inline-block;
  border-radius: 25px;
  font-style: normal;
  font-weight: 300;
  margin-left: 10px;
  font-style: normal;
}

.nav-button:hover {
  background-color: #5c3a72;
  color: #f3b05a;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}

.upper-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  min-width: 300px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #f56a4e;
}

form label {
  font-weight: 700;
  color: #5c3a72;
}

.registration-container {
  display: none;
}

.login-container {
  display: none;
}

.new-button,
.log-out button {
  display: none;
}

#signedUser {
  text-align: right;
  padding: 0 25px;
  color: #5c3a72;
}

main {
  width: 100%;
  padding-top: 150px;
}

main.padding-reg {
  padding-top: 450px;
}

main.padding-log {
  padding-top: 325px;
}

.tweets {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
  background-color: rgba(245, 245, 245, 0.75);
  border-radius: 10px;
}

.tweets h3 {
  color: #5c3a72;
}

article {
  background-color: rgba(243, 176, 90, 0.5);
  border-radius: 10px;
  margin: 10px 0;
}

article header {
  padding: 10px;
  background-color: rgba(163, 88, 109, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

article header p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #a3586d;
}

article h2 {
  color: #f3b05a;
}

article footer {
  padding: 10px;
  background-color: rgba(163, 88, 109, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

article footer p {
  color: #5c3a72;
}

article footer i {
  color: transparent;
}

article:hover header {
  background-color: rgba(245, 106, 78, 0.5);
}

article:hover footer {
  background-color: rgba(245, 106, 78, 0.5);
}

article:hover footer i {
  color: #5c3a72;
}

.avatar {
  height: 100px;
  width: 100px;
}

.tweet {
  min-height: 200px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tweet p {
  color: #5c3a72;
}

.create-tweet {
  background-color: rgba(243, 176, 90, 0.5);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  display: none;
}

.create-tweet textarea {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

.create-tweet textarea::-webkit-input-placeholder {
  color: #5c3a72;
}

.create-tweet textarea:-ms-input-placeholder {
  color: #5c3a72;
}

.create-tweet textarea::-ms-input-placeholder {
  color: #5c3a72;
}

.create-tweet textarea::placeholder {
  color: #5c3a72;
}

.create-tweet form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button[type='submit'] {
  border: none;
  color: #f5f5f5;
  background-color: #5c3a72;
  font-size: 1.2rem;
  padding: 0 15px 0 10px;
  display: inline-block;
  border-radius: 25px;
  font-style: normal;
  font-weight: 300;
}

button[type='submit']:hover {
  color: #f56a4e;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}

.red {
  color: #f56a4e;
  font-weight: 700;
}

.main-footer {
  background: -webkit-gradient(linear, left bottom, right top, from(#f4874b), to(#f56a4e));
  background: linear-gradient(to right top, #f4874b, #f56a4e);
  width: 100vw;
  opacity: 0.75;
  position: static;
  padding: 20px;
  margin-top: 20px;
}

.main-footer p {
  font-weight: 700;
  font-style: italic;
  color: #5c3a72;
}
/*# sourceMappingURL=layout.css.map */