.main-header {
  background: linear-gradient(to right top, $orange, $red);
  position: fixed;
  width: 100vw;
  opacity: 0.75;
}
.logo {
  width: 80px;
  height: 80px;
  display: inline-block;
  filter: invert(0.2) sepia(1) hue-rotate(-130deg) saturate(2.5);
}

h1 {
  color: $purple;
  margin: 1rem 0;
}

.hamburger {
  margin: 0 20px;
  font-size: 2rem;
  color: $purple;
  display: none; /* Not being displayed until screen hits a certain treshold */
}
.navbar-general {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.new-button {
  @include buttonType($purple, $white, 15px 15px, 50px);

  &:hover {
    background-color: $purple;
    color: $yellow;
    transition: $trans;
  }
}
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
