/* COLORS */

$white: #f5f5f5;
$pink: #a3586d;
$pink-transp: rgba(163, 88, 109, 0.5);
$purple: #5c3a72;
$yellow: #f3b05a;
$yellow-transp: rgba(243, 176, 90, 0.5);
$orange: #f4874b;
$red: #f56a4e;
$red-transp: rgba(245, 106, 78, 0.5);

/* FONTS */

$primary-font: 'Roboto Condensed', sans-serif;

/* TRANSITION */

$trans: all linear 0.25s;

/* BORDER RADIUS */

$small-radius: 10px;
$std-radius: 25px;
